@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

html {
  height: 100%;
  margin: -8px;

  overflow: hidden;
}

body {
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}